body {
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #3d0076;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.login-box{
  background-color: #b400ff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}
